APP_NAME="Repositorio Recursos Educativos"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://tu-app.onrender.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=repositorio
DB_USERNAME=repositorio_user
DB_PASSWORD=repositorio_pass

CACHE_STORE=file
SESSION_DRIVER=file

FILESYSTEM_DISK=public
