APP_NAME="Repositorio Recursos Educativos"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://repositorio-recursos-repositorio-educativo-ifbt9a.laravel.cloud

DB_CONNECTION=mysql

CACHE_STORE=file
SESSION_DRIVER=cookie
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1,127.0.0.1:8000,::1,localhost:5173

FILESYSTEM_DISK=public
