APP_NAME="Repositorio Recursos Educativos"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://repositorio-recursos.laravel.cloud

DB_CONNECTION=mysql

CACHE_STORE=file
SESSION_DRIVER=cookie

FILESYSTEM_DISK=public
